.sideFav {
  background-color: #121212;
  border-radius: 8px;
  height: 100vh;
  flex: 3.5;
  color: rgb(255, 255, 255);
  height: 100%;
}

.container {
  overflow: hidden;
  padding: 0.5rem 1.5rem;
}

.page h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  height: 50px;
}
.arrows {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.arrows button {
  background-color: inherit;
  border: none;
  color: white;
  cursor: pointer;
}

.actions button {
  display: flex;
  align-items: center;
}
.avatar {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.avatar img {
  width: 2rem;
  height: auto;
  border: 2px solid black;

  border-radius: 50%;
}

.signUp:hover {
  background-color: #fff;
  color: black;
}

.signIn {
  padding: 0.6rem 3rem;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
}

.signIn:hover {
  background-color: #bbbbbb;
}

@media (max-width: 1200px) {
  .sideFav {
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
