.form {
}

.inputIcon {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #242424;
  border-radius: 30px;
}

.form input {
  width: 280px;
  padding: 1rem;
  background-color: #242424;
  border-radius: 30px;
  border: none;
  color: white;
  outline: none;
}
