.footer {
  display: none;
}

@media (max-width: 1200px) {
  .footer {
    display: block;
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .controlIcons {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 5rem;
  }
  .controlIcons::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #009473;
    border-radius: 20px;

    filter: blur(3px);
    opacity: 0.7;
    z-index: -1; /* Помещаем псевдоэлемент под контент иконок */
  }
}
@media (max-width: 800px) {
  .footer {
    display: block;
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .controlIcons {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
  }
  .controlIcons::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #009473;

    border: 1px solid black;
    border-radius: 20px;

    filter: blur(3px);
    opacity: 0.7;
    z-index: -1; /* Помещаем псевдоэлемент под контент иконок */
  }
}
