.secondContainer {
  overflow: hidden;
  padding: 1rem;
  height: calc(100vh - 100px);
}

.headContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.yourLabCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lab {
  display: flex;
  align-items: center;
}
