.content {
  height: 100vh;
  background-color: #121212;

  color: white;
}

.wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  gap: 2rem;
}

.wrapper p {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.wrapper h1 {
  margin-top: 100px;
  font-size: 10px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
