.img {
  background-image: url("https://i.scdn.co/image/ab67706c0000da8470d229cb865e8d81cdce0889");
  border-radius: 0.375rem;
  width: 65px;
  height: 65px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
