.container {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 1px solid #00795f;
  box-shadow: 0 2px 5px #00795f, 0 4px 6px #00795f;
  color: white;
  font-weight: bold;
  padding: 3rem;
}

.wrapper h2 {
  margin: 0;
  padding: 15px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 1rem;
}

.wrapper input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid #9c6db0;
  width: auto;
  outline: none;
}

.error {
  color: red;
}

.button {
  background-color: #00795f;
  border: 1px solid #00775d;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;

  overflow: hidden;
}

.button:disabled {
  background-color: #7d9792;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 0;
  }
  .wrapper input {
    padding: 10px;
  }

  .form {
    width: 80%;
  }

  .form p {
    margin-bottom: 1rem;
  }
}
